{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}

<p>Авторизованный пользователь.</p>
<p>
    <a href="https://vk.com/id{{ account_info.id}}">{{ account_info.first_name }} {{ account_info.last_name }}</a>
</p>
<a href="https://vk.com/id{{ account_info.id}}"><img src="{{ account_info.photo_200_orig }}"></a>

<p><a href="{% url 'app_logout'%}" class='button'>Выйти</a></p>
<br>
<br>


<p>5 друзей авторизованного пользователя, выбранных случайным образом</p>
<ol>
    {% for vk_friend in vk_friends %}
    <li>
        <p><a href="https://vk.com/id{{ vk_friend.id }}">{{ vk_friend.first_name }} {{ vk_friend.last_name }}</a>
        </p>
        <a href="https://vk.com/id{{ vk_friend.id }}"><img src="{{ vk_friend.photo_200_orig }}"></a>
        <br>
        <br>
    </li>
    {% endfor %}
</ol>

{% else %}

<p>5 случайных друзей отображаются только для авторизованных пользователей</p>

<p><a href="{% url 'social:begin' 'vk-oauth2' %}" class='button'>Авторизоваться</a></p>
{% endif %}
{% endblock %}
