{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}

<p>Авторизованный пользователь</p>
<p>
    <a href="https://vk.com/id{{ account_info.id}}">{{ account_info.first_name }} {{ account_info.last_name }}</a>
</p>
<a href="https://vk.com/id{{ account_info.id}}"><img src="{{ account_info.photo_200_orig }}"></a>

<p>
    <a href="{% url 'app_logout'%}" class='button'>Выйти</a>
</p>
<br>
<br>


<p>Друзья авторизованного пользователя, выбранные случайным образом</p>
<ol>
    {% for friend_info in friends_info %}
    <li>
        <p>
            <a href="https://vk.com/id{{ friend_info.id }}">{{ friend_info.first_name }} {{ friend_info.last_name }}</a>
        </p>
        <a href="https://vk.com/id{{ friend_info.id }}"><img src="{{ friend_info.photo_200_orig }}"></a>
        <br>
        <br>
    </li>
    {% endfor %}
</ol>

{% else %}

<p>Друзья отображаются только для авторизованных пользователей</p>

<p>
    <a href="{% url 'social:begin' 'vk-oauth2' %}" class='button'>Авторизоваться</a>
</p>
{% endif %}
{% endblock %}
