version: "3.8"

services:
    web:
        build:
            context: ./vk_oauth
            dockerfile: Dockerfile
        command: gunicorn vk_oauth.wsgi:application --bind 0.0.0.0:8000
        expose:
            - 8000
        env_file:
            - .env.prod
        depends_on:
            - db

    db:
        image: postgres:12.3-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            - .env.prod

    nginx-proxy:
        container_name: nginx-proxy
        build: ./nginx/nginx_prod/
        restart: always
        ports:
            - 443:443
            - 80:80
        volumes:
            - certs:/etc/nginx/certs
            - html:/usr/share/nginx/html
            - vhost:/etc/nginx/vhost.d
            - /var/run/docker.sock:/tmp/docker.sock:ro
        depends_on:
            - web

    nginx-proxy-letsencrypt:
        image: jrcs/letsencrypt-nginx-proxy-companion
        env_file:
            - .env.prod
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - certs:/etc/nginx/certs
            - html:/usr/share/nginx/html
            - vhost:/etc/nginx/vhost.d
        depends_on:
            - nginx-proxy

volumes:
    postgres_data:
    certs:
    html:
    vhost:
