version: "3.8"

services:
    web:
        build:
            context: ./vk_oauth
            dockerfile: Dockerfile
        command: gunicorn vk_oauth.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - ./vk_oauth/:/home/app/web/
        expose:
            - 8000
        env_file:
            - .env.dev
        depends_on:
            - db
    db:
        image: postgres:12.3-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            - .env.dev
    nginx:
        build:
            context: ./nginx/nginx_dev/
            dockerfile: Dockerfile
        ports:
            - 80:80
        depends_on:
            - web

volumes:
    postgres_data:
